.form {
  &__currency-select {
    padding: 0 1rem;
    display: flex;
    min-height: 4.5rem;
    align-items: center;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    img {
      width: 3rem;
    }
  }
}
.currency-select {
  &__currency-dropdown {
    padding: 0 1rem 0 0.5rem;
    outline: none;
    border: none;
    background: none;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 500;
    @media (max-width: 450px) {
      padding: 0 0.2rem 0 0.5rem;
    }
    option {
      color: #000;
      font-weight: 500;
    }
  }
}
