.form {
  margin-top: 4.5rem;
  &__form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
  }
  &__currency-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3rem;
  }
  &__form-input {
    outline: none;
    padding: 0 1.5rem;
    min-height: 5rem;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    font-size: 1.6rem;
    font-weight: 500;
    color: #fff;
  }
  /* Remove default arrows */
  &__form-input::-webkit-outer-spin-button,
  &__form-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  &__swap-icon {
    margin-top: 2.8rem;
    height: 4rem;
    width: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    cursor: pointer;
    transition: background-color 0.2s ease;
  }
  &__swap-icon:hover {
    background: rgba(255, 255, 255, 0.3);
  }
  &__exchange-rate-result {
    margin-top: 3rem;
    padding: 2.5rem 1.5rem;
    background: rgba(255, 255, 255, 0.15);
    border: 1px solid rgba(255, 255, 255, 0.2);
    overflow-wrap: break-word;
    border-radius: 8px;
    text-align: center;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 500;
    letter-spacing: 0.5px;
  }
}
